<h1>顧客一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>会社名</th>
      <th>住所</th>
      <th>担当者名</th>
      <th>電話番号</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.contact_person %></td>
        <td><%= customer.phone_number %></td>
        <td>
          <%= link_to '詳細', customer_path(customer), class: "btn btn-info" %>
          <%= link_to '編集', edit_customer_path(customer), class: "btn btn-warning" %>
          <%= link_to '削除', customer_path(customer), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規顧客登録', new_customer_path, class: "btn btn-success" %>
