<h1>商品編集</h1>

<%= form_with(model: @product, local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "商品名" %><br>
    <%= form.text_field :name, value: @product.name %>
  </div>

  <div>
    <%= form.label :price, "価格" %><br>
    <%= form.number_field :price, step: 0.01, value: @product.price %>
  </div>

  <div>
    <%= form.label :tax_rate, "税率 (%)" %><br>
    <%= form.number_field :tax_rate, step: 0.01, value: @product.tax_rate %>
  </div>

  <div>
    <%= form.label :category, "カテゴリ" %><br>
    <%= form.text_field :category, value: @product.category %>
  </div>

  <div>
    <%= form.label :description, "説明" %><br>
    <%= form.text_area :description, value: @product.description %>
  </div>

  <div>
    <%= form.submit "更新する", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to '戻る', products_path, class: "btn btn-secondary" %>
